<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Movie">
    <insert id="insertMovie">
        insert into movie (poster, title, reldate, director, actors, story, rating)
        values
        (#{poster}, #{title}, #{reldate}, #{director}, #{actors}, #{story}, #{rating})
    </insert>
    <update id="updateMovie">
        update movie
        set poster=#{poster}, title=#{title}, reldate=#{reldate}, director=#{director}, actors=#{actors}, story=#{story}, rating=#{rating}
        where sid=#{sid}
    </update>
    <delete id="deleteMovie">
        delete from movie where seq=#{seq}
    </delete>
    <select id="getMovie" resultType="movie">
        select * from movie where seq=#{seq}
    </select>
    <select id="getMovieList" resultType="movie">
        select * from movie order by seq desc
    </select>
</mapper>