<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Movie">
    <insert id="insertMovie">
        insert into Movie (poster, title, reldate, genre, director, actors, story, rating)
        values
        (#{poster}, #{title}, #{reldate}, #{genre}, #{director}, #{actors}, #{story}, #{rating})
    </insert>
    <update id="updateMovie">
        update Movie
        set poster=#{poster}, title=#{title}, reldate=#{reldate}, genre=#{genre}, director=#{director}, actors=#{actors}, story=#{story}, rating=#{rating}
        where seq=#{seq}
    </update>
    <delete id="deleteMovie">
        delete from Movie where seq=#{seq}
    </delete>
    <select id="getMovie" resultType="movie">
        select * from Movie where seq=#{seq}
    </select>
    <select id="getMovieList" resultType="movie">
        select * from Movie order by seq desc
    </select>
    <select id="getPoster" resultType="String">
        select poster from Movie where seq=#{seq}
    </select>
</mapper>